/aifc_decode
/aiff_extract_codebook
/armips
/extract_data_for_mio
/iplfontutil
/mio0
/n64cksum
/n64graphics
/n64graphics_ci
/patch_libultra_math
/skyconv
/tabledesign
/textconv
/vadpcm_enc
!/ido7.1_compiler/
